<html ng-app="HotelLocatorApp">
    <head>
        <script src="js/jquery-1.12.4.min.js"></script>
        <script src="js/angular.min.js"></script>
        <script src="js/script.js"></script>
        <link href="css/bootstrap.min.css" rel="stylesheet" media="screen">
        <title>Find the closest hotel</title>


    </head>
    <body>
        <div class="container" ng-controller="HotelController">
            <div  style="padding-top:30px">
                <p><a href="#" ng-show="found_location && !hotel_detail" ng-click="searchHotels()" style="margin-left:40%">Find the nearest hotels</a></p>
                <p><a href="#" ng-show="hotel_detail" ng-click="cleanDetail()" style="margin-left:40%">Return</a></p>
            </div>
            <div ng-hide="hotel_detail" id="hotel" ng-repeat="hotel in hotel_list">
                <div>
                    <h3>
                        <spam ng-click="searchDetails(hotel.id)" ng-bind="hotel.name" style="cursor:pointer"></spam>
                    </h3>
                    <div style="float:left; width:100%">
                        <div style="float:left; width:10%">
                            <img src="{{hotel.photo}}" />
                        </div>
                        <div style="float:left; width:90%">
                            <p style="padding-left:2%">{{hotel.name}} - {{hotel.rating}}</p>
                        </div>
                    </div>
                    <hr />
                </div>
            </div>
            <div ng-show="hotel_detail" id="hotel-detail">
                <div>
                    <h3>
                        <spam ng-bind="hotel_detail.name"></spam>
                    </h3>
                    <p>
                        Address: <spam ng-bind="hotel_detail.formatted_address"></spam></br>
                        Number: <spam ng-bind="hotel_detail.formatted_phone_number"></spam></br>
                        WebSite: <spam ng-bind="hotel_detail.website"></spam></br>
                        KeyWords: <spam ng-repeat="type in hotel_detail.types" style="display:inline">{{type}} </spam></br>
                        Reviews: <div ng-repeat="review in hotel_detail.reviews" style="float:left; width:100%;padding:1%">
                          <div style="float:left; width:10%">
                              <img src="{{review.profile_photo_url}}" />
                          </div>
                          <div style="float:left; width:90%">
                              <spam  style="padding-left:2%">
                                {{review.author_name || "anon"}}, rated {{review.rating}} - {{review.relative_time_description}}
                              </spam>
                              <br>
                              <spam  style="padding-left:2%" ng-bind="review.text"></spam>
                          </div>
                          <br>
                        </div>


                    </p>
                    <hr />
                </div>
            </div>
        </div>
    </body>
</html>
